// color sustractivo (pinturas) -- dibujos
/*
  el arte del dibujo , cualquier categoria
  la luz se sustrae se resta, mientras se aumente mas colores
  el color resultante se oscurece


  imprentas (imprimir)

  colores base : cyan , magenta , amarillo , negro (CMYK)
*/

// color aditivo (luz)
/*

pantallas

colores base : red green blue RGB

todas las pantallas usan el modo RGB
todos los pixeles tienen un punto rojo verde y azul
256  2~8  R, 2~8 G, 2~8 B === +16M de colores === Profundidadd de color de 24 bits



hsl

hue , saturation, lightenss

1. hue = tono del color (0-360 deg)
2. saturacion = intensidad del color (gris al color puro 0% - 100%)
3. luminosidad = cantidad de luz (0% - 100%)

*/



/*
fuera del tema
  BEM : taxonomia css
  diseñar nombres de clases css

  block : contenedor - entidad autonoma main-menu
  element : cada hijo del bloque main-menu__item
  modifier : usar el mismo elemento pero se modifica
    main-menu--footer


  - SMACSS http://smacss.com/
  SCALABLE AND MODULAR ARCHITECTURE FOR CSS

  BASE
    los aplicados a elementos html (body,ul,li) no clases no id
    casi casi como un normalize
    inizializar los estilos
  THEME
    es el look and feel de la web o aplicacion (diseño)
    colores, tipografia
  STATES
    estilos para cambios de estados, elemntos que aparecen y desaparecen
    .is-hide / .is-show , interaccion con js

    la recomendacion es que js solo haga el cambio de clase
    en esta parte las clases se recomiendan que comiencen con .is-visible y cuando cambie
    de clase gracias a js sea .is-hiden
  LAYOUT
    maquetación sin estlos de tema
    ejm
      el header tendra dos columnas
      el footer width 50%
  MODULES
    los componentes que se repiten a los largo de la aplicacion
    botones, iconos, widgets
     
    pedazos de IU que se iran repitiendo  como un footer,un acordeon,un menu
    un card en un ecommerce, un slider . Una entidad independiente
  - ITCSS
    
    Inverted Triangle CSS  

    arquitectura del triangulo invertido para CSS
    arquitectura basada en la especificidad
	
    Y nos recomienda de ir de una especifidad mas generica a una mas especifica
    partir de la parte superior a algo inferior es decir de un de partir de lago que tiene
    mayor alcance a algo mas localizado ejm (mayor alcance body. localizado boton)

    Basada en 3 principios que son las aristas del triangulo invertido
    - arista superior : Magnitud .- Alcance e impacto en los elementos
    - arista izquierda : Especificidad .- Importancia del selector y sus propiedades
    - arista deracha : Claridad .- Menor abstraccion en la semantica e impacto del selector

    https://programacion.net/articulo/introduccion_a_itcss_para_desarrolladores_web_1545
    https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
    https://speakerdeck.com/klaufel/desarrollo-de-arquitecturas-css-basadas-en-itcss?slide=4
    https://speakerdeck.com/dafed/managing-css-projects-with-itcss
    
    para medir la especificidad en un diagrama https://jonassebastianohlsson.com/specificity-graph/

    partes

    SETTINGS - VARIABLES QUE SE DEFINEN
    TOOLS - HELPERS, MIXINS FUNCTIONS , PLACEHOLDERS
    GENERIC - RESET O NORMALIZE
    BASE - ESTILOS APLICADOS A ETIQUETAS HTML NO CLASES NO SELECTORES NO ID, SOLO SELECTORES
    
    // ESTOS DOS SON HEREDADOS DE LA METODOLOGIA OOCSS
    OBJECT
    COMPONENTES - EQUIVALENTE A LOS MODULOS EN SMACSS, PEDADOS DE UI ESPECIFICOS

    TRUMPS, UTILIDADES
    
    https://www.bbc.co.uk/gel/guidelines/category/design-patterns

    - setting
    - tools
    - generic
    - base
    - components
    - theme
    - trumps


  - 7in1
  - ATOMIC DESIGN
  - OOCSS

*/


body {
  // background-color: rgb(23,200,156);

  // background-color: hsl(hue, saturation, lightness)

  background-color: hsl(200,100,50);

  // background-color: hsl(200deg,100%,50%);
  // https://i.pinimg.com/736x/35/3a/45/353a45ed7538c966a24949fae6304d89.jpg
  // https://www.etiquetasenrollo.mx/wp-content/uploads/2016/10/arbol-munsell.jpg
  // https://www.molinaripixel.com.ar/wp-content/uploads/2015/02/002_munsell-2-534x534.jpg
}


// funciones de color en scss
/*
  RGB
    estas funciones saca el color que se quiere de un cierto codigo , hsl rgb hexagesimal
    red($color)
    green($color)
    blue($color)

  hsl

    hue($color)
    saturation($color)
    lightness($color)

    darken($color,cantidad a oscurecer)
    lighten($color,cantidad de luz)

    saturate($color,cantidad de pureza)
    dsesaturate($color,cantidad)

    adjust-hue($color,cantidad) = hue color + cantidad
*/

$base-color : yellow;
$text-color-light : #fff;
$text-color-dark : #222;

@function color-text(){
  @if lightness($base-color) >= 50 and
      hue($base-color) < 180       and
      hue($base-color) > 0{
    @return $text-color-dark;
  }
  @return $text-color-light;
}
// @function color-text(){
//   @if lightness($base-color) > 50 {
//     @return $text-color-dark;
//   }
//   @return $text-color-light;
// }

body {
  background-color: $base-color;
  color: color-text();
}
