@for $var from 1 to 21 {
    .cols-#{$var*5}{
        width: $var * 5%;
    }
}

$bp : (
    medium : 640px,
    large: 1024px
);

@media screen and (min-width:map-get($bp,medium)){
    @for $var from 1 through 20 {
        .cols-m-#{$var*5}{
            width: $var * 5%;
        }
    }
}

@media screen and (min-width:map-get($bp,large)){
    @for $var from 1 through 20 {
        .cols-l-#{$var*5}{
            width: $var * 5%;
        }
    }
}