$colors:'red','green','red','blue';

@for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .cube:nth-child(#{$i}){
        background:$color;
    };
}
$sizes: 40px, 50px, 80px;

@each $size in $sizes {
    .icon-#{$size} {
        font-size: $size;
        height: $size;
        width: $size;
    }
}

$colors2 : red blue green;

@each $color in $colors { // @each funciona tanto para listas como para mapas
    .#{$color}{
        background-color: $color;
    }
}

$breakpoints : (
    small : 360px,
    medium : 640px,
    large : 1024px,
    x-large : 1400px
);