$number:1;
$number2:20px;
$number3:20s;
$string:'Thom';
$string2:none;
$color :red;
$color2: hsl(200,100,50);
$list : 1px solid red;
$list2 : primary,secondary,tertiary;
$boolean : true;

$map : (
    primary: red,
    secondary: green,
    tertiary: blue,
);


body{
    @debug $color+" type "+type-of($color);
}