@function pow($base, $exponent) {
    $result: 1;
    @for $_ from 1 through $exponent {
      $result: $result * $base;
    }
    @return $result;
}
.sidebar {
    float: left;
    margin-left: pow(4, 3) * 1px;
}

@function fibonacci($number){
  $prev : 0;
  $next : 1;
  $aux : 0;
  $sum : $prev;
  @while $number > 1 {
    $number : $number - 1;
    $aux : $next;
    $sum : $sum + $aux;
    $next : $prev + $next;
    $prev : $aux;
  }
  @return $sum+px;
}

p{
  font-size: fibonacci(5);
}

// convertir pixeles a em
@function em($px,$base : 16px){
  $boolean : type-of($px) == 'number' and unit($px) == 'px';
  @return if($boolean,( $px / $base ) * 1em ,null);
}

body{
  font-size: em(20px);
}

// search images
@function img($image){
  $path : '/img/';
  @return url($path + $image);
}

body{
  background-image: img('image.jpg');
}

$width : 1px;
$style : solid;
$color : red;


// funciones de sass
// funciones de string
// quote (string) -- agrega comillas
// unquote (string) -- quita comillas
// str-length (string) caracteres del string
// str--index (string,value) devuelve el indice de un caracter
// to-upper-case
// to-lower-case

body {
  border: $width $style $color;
  &::before{
    content: quote($style);
  }
  z-index : str-index($style,'i');
}


// funciones de numeros
// percentage($number) 1 == 100%
body{
  width: percentage(1);
}

@function columns($columns,$total-columns){
  @return $columns / $total-columns;
}

.cols-4{
  width: percentage(columns(4,12));
}

@for $index from 1 through 12 {
  .cols-#{$index}{
    width: percentage(columns($index,12));
  }
}

// max(list...)
// max(number1,number2)

body{
  width: max(100%,50%,10%);
  height: min(100%,50%,10%);
  z-index: floor(10.5);
  line-height: ceil(10.4);
  min-height: round(11.45);
}

// funciones de listas y mapas

// nth($list,i$ndex)
// index($list,$value)
// join($list1,$list2,$list3,separador: space | comma)
// append($list,$value,$separador: space | comma)


// map-get($map,$key)
// map-keys($map)
// map-values($map)
// map-has-key($map,$key)
// map-merge($map1,$map2)


// funciones de instrospeccion
// funciones que se analizan a sí misma
// analizarse así mismo algun valor alguna propiedad alguna caracteristica
// podemos saber si algun mixin existe
// unit($value)
// unitless($value) true = si el número no tiene unidad
// type-of($value)
// inspect() -> parecido al console.log de js
// mixin-exists(name-mixin)
// function-exists(name-function)
// variable-exists(name-variable) // lo busca en el scope
// global-variable-exists(name-variable) // lo busca de manera global

$colors : (
  primary : yellow,
  secondary : red
);

body {
  color: inspect($colors);
}
