@mixin shape($color:#111,$width:100px,$height:100px) {
    background-color: $color;
    width: $width;
    height: $height;
}

$color : null;

@for $index from 1 through 6 { // con to solo llega hasta un numero anterior
    @debug $index+"%3="+$index%3;
    @if($index%3!=0){
        $color:red;
    }
    @else{
        $color:green;
    }
    #rec#{$index}{
        @include shape($color,300px,50px);
    }      
}

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;
    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else if $direction == left {
        border-right-color: $color;
    } @else {
        @error "Unknown direction #{$direction}.";
    }
}
.next {
    @include triangle(5px, black, right);
}

$light-background: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $light-background;
        color: $light-text;
    } @else {
        background-color: $dark-background;
        color: $dark-text;
    }
}

.banner {
    @include theme-colors($light-theme: true);
    body.dark & {
        @include theme-colors($light-theme: false);
    }
}

@mixin button($color:red) {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    background-color: $color;
    &:hover{
        color: $color;
    }
    @media screen and (min-width:640px) {
        background-color: green;
    }
}
.button {
    @include button;
}