.menu{
    margin: 0;
    .link{
        text-decoration: none;
        grid-template : {
            columns : 10px 10px;
            rows : auto;
            areas : header header;
        };
    }
}
// nesting anidar selectores