@import 'config';
@import "menu" ; // el _ significa que es un partial y no se transpilara el archivo _menu

body{
    color:$config_color;
    font-size: $config_number;
}

// @extend permite crear placeholders e importarlos
// o extenderlos en selectores, tambien puede extenderse de clase no necesariamente de placeholder

// los placeholders son bloques de codigo que almacenan estilos
// que luego se podran usar ( bloques de estilos reutilizables)
%button{
    display: block;
    margin: 1em 0;
    padding: .5em 1.5em;
}

.button {
    @extend %button;
}
.button-alert{
    @extend %button;
    background-color: red;
    color: white;
}

.placeholder{
    display: block;
    margin: 1em 0;
    padding: .5em 1.5em;
}

p{
    @extend .placeholder;
}
.button:hover{
    transform: translateY(-5px);
}

.button.active{
    @extend .button:hover;
}